node_modules/

ormconfig.json

# Test folder
coverage/

# Environment variables
.env
.env.production


dist/

# Helper files
Helpers.md

# Local data dumps and working files
*.bak
mcu_characters.json
/package-lock.json
